site_name: Cours Bases de donn&eacute;es 1
site_url: https://bd1.kerzo.ca/
repo_url: https://github.com/jaixan/db1

nav:
  - 'Accueil': index.md
  - 'Section 1':
      - 1.1 Introduction: notes_de_cours/section_1.1.md
      - 1.2 Composantes: notes_de_cours/section_1.2.md
      - 1.3 Types de données: notes_de_cours/section_1.3.md
      - 1.4 Création de BD et Tables: notes_de_cours/section_1.4.md
      - 1.5 Clés étrangères et relations: notes_de_cours/section_1.5.md
  - 'Section 2':
      - 2.1 Créer, mettre à jour, supprimer des données: notes_de_cours/section_2.1.md
      - 2.2 Sélection, filtrage et opérateurs logiques: notes_de_cours/section_2.2.md
      - 2.3 Opérateurs arithmétiques, chaînes et expressions régulières: notes_de_cours/section_2.3.md
      - 2.4 Manipulation de dates: notes_de_cours/section_2.4.md
      - 2.5 Jointures et agrégats: notes_de_cours/section_2.5.md
      - 2.6 Fonctions statistiques: notes_de_cours/section_2.6.md
  - 'Section 3':
      - 3.1 Établir une stratégie de sauvegarde de la BD: notes_de_cours/section_3.1.md
      - 3.2 Sauvegarder et restaurer une BD: notes_de_cours/section_3.2.md
      - 3.3 Automatisation des sauvegardes: notes_de_cours/section_3.3.md
  - 'Section 4':
      - 4.1 Intégrité des données: notes_de_cours/section_4.1.md
      - 4.2 Confidentialité des données: notes_de_cours/section_4.2.md
      - 4.3 Gestion des accès: notes_de_cours/section_4.3.md
  - 'Section 5':
      - 5.1 Variables, conditions et boucles: notes_de_cours/section_5.1.md
      - 5.2 Fonctions et déclencheurs: notes_de_cours/section_5.2.md
      - 5.3 Procédures stockées et transactions: notes_de_cours/section_5.3.md
  - 'Convention': convention.md
  - 'Ressources': ressources.md
  - 'Calendrier': calendrier.md
theme:
  name: material
  icon:
    logo: fontawesome/solid/database
  features:
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.tracking
    - content.code.copy
    - toc.integrate
  language: fr
  palette:
    - scheme: default
      toggle:
        icon: material/toggle-switch-off-outline
        name: Passer en mode sombre
      primary: green
      accent: teal
    - scheme: slate
      toggle:
        icon: material/toggle-switch
        name: Passer en mode clair
      primary: green
      accent: light green
plugins:
  - search: {}

markdown_extensions:
  - admonition
  - attr_list
  - markdown_include.include:
      base_path: docs/tables
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.escapeall:
      hardbreak: true # use \ to create new line
      nbsp: true # use \<space> to create &nbsp;
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
